* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111111;
}

button {
    cursor:pointer;
}

h2 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
    font-weight: 400;
}

form {
    position:relative;
}

#root {
    margin-top: 20vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer {
    display: flex;
    align-items: center;
    color: white;
    height: 70px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: #33333385;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333333;
}

::-webkit-scrollbar-button {
    display: none;
}