.nav {
    margin-top: 30px;
}

.ul {
    display: flex;
    justify-content: center;
}

.li {
    display: table;
    list-style: none;
}

.a {
    display: table-cell;
    width: 300px;
    height: 40px;
    background-color: #2b2222;
    color: white;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}

.li:first-child {
    margin-right: 50px;
}

@media all and (max-width:640px) {
    .ul {
        flex-direction: column;
    }

    .li:first-child {
        margin-right: 0;
        margin-bottom: 10px;
    }
}