.name {
    width: 250px;
    height: 30px;
    margin: 10px 0;
    padding: 5px;
    border: none;
    border-radius: 15px;
    background-color: white;
    font-size: 18px;
    text-align: center;
    outline: none;
}

.email {
    text-align: center;
}

.form {
    margin-top: 20px;
    text-align: center;
}

.form .buttons {
    position: absolute;
    width: 250px;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: calc(50% - 125px);
}

.form .buttons button {
    padding: 5px 10px;
    background-color: #F8D075;
    border-radius: 3px;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

.submit {
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    background-color: #F8D075;
    border-radius: 3px;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

.profileImg {
    display: flex;
    position:relative;
    width: 250px;
    margin: 0 auto 10px;
    justify-content: center;
}

.profileImg img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    object-fit: cover;
}

.profileImg label {
    display: flex;
    position: absolute;
    right: 70px;
    bottom: 0;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: #FCED6A;
    color: #333;
    font-size: 20px;
    box-shadow: 0 0 2px #a4a4a4;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.complete {
    text-align: center;
    color: #17c700;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}