.textarea {
    display: block;
    width: 500px;
    height: 150px;
    padding: 10px 130px 10px 10px;
    border: none;
    font-size: 14px;
    resize: none;
    outline: none;
}

.file {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 60px;
    background-color: #f4f4f4;
    color: #333;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.upload {
    position: absolute;
    top: 60px;
    right: 0;
    width: 40px;
    height: 90px;
    padding: 5px;
    border: none;
    background-color: orange;
    color: #333;
    font-size: 20px;
    font-weight: bold;
}

.img {
    position: absolute;
    top: 50%;
    right: 50px;
    width: 80px;
    transform: translateY(-50%);
    border: 1px solid #a4a4a4;
    border-radius: 3px;
}

.img > img {
    display: block;
    width: 100%;
}

.img > button {
    display: flex;
    position: absolute;
    top: -8px;
    right: -8px;
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 50%;
    background-color: white;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px black;
}

.reTextarea {
    display: block;
    width: 100%;
    height: 150px;
    padding: 10px 130px 10px 10px;
    border: none;
    font-size: 14px;
    resize: none;
    outline: none;
    box-shadow: 0 0 2px black;
}

.yaweetBox {
    display: flex;
    position:relative;
    width: 500px;
    min-height: 200px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    justify-content: space-between;
}

.writer {
    position:relative;
    margin-bottom: 15px;
    padding-left: 40px;
    line-height: 30px;
}

.writer::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: aqua;
    content: "";
}

.editRemove {
    position: absolute;
    top: 0;
    right: 5px;
}

.editRemove > button {
    margin-left: 15px;
    padding: 3px;
    border: none;
    background-color: transparent;
    color: #a4a4a4;
    font-size: 14px;
}

.date {
    position: absolute;
    right: 20px;
    bottom: 3px;
    color: #a4a4a4;
    font-size: 11px;
    font-weight: bold;
}

@media all and (max-width:640px) {
    .textarea {
        width: 100%;
        font-size: 12px;
    }

    .reTextarea {
        font-size: 12px;
    }

    .yaweetBox {
        width: 94%;
        margin: 20px auto 0;
        padding: 20px 10px;
    }

    .writer {
        padding-left: 40px;
    }

    .date {
        right: 10px;
    }
}